.data-fetch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}
@media (max-width:1286px){
    .data-fetch{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}